.App {
  /* background-color: crimson; */
  width: 77%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(220, 20, 60));
  background-image: linear-gradient(to bottom, rgb(237, 76, 91), rgb(167, 12, 34));
}
.loadclass{
  /* text-align: center; */
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.head{
  text-align: left;
  padding-left: 20%;
  padding-top: 25%;
  color:white;  
}

.imageuploaddiv{
  border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    top: 74%;
    height: 30px;
    position: absolute;
}

.login {
  position: absolute;
  left: 63%;
  top: 22%;
  width: 27%;
  height: 70%;
  background-color: black;
  z-index: 1;
  border-radius: 20px;
}
.logincontent {
  color: white;
    padding: 5px;
    margin-left: 32px;
    margin-top: 7%;
    font-weight: 400;
    font-size: 16px;
    margin-right: 32px;
    margin-bottom: 30%;
}
.buttonclass{
  
  margin-top:35px;
  cursor: pointer;
  height: 40px;
  width: 150px;  
  /* background-color:crimson; */
  border: none;
  border-radius:3px;
  color:white;
  font-size:15px;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(220, 20, 60)); Standard syntax (must be last) */

  background-image:linear-gradient(0deg, rgb(167, 12, 34) 0px, rgb(237, 76, 91))
}

.errorclass{
  text-align: center;
  font-size: 16px;
  color: black;
  margin-top:59px;


}
.okbutton {
  cursor: pointer;
  height: 40px;
  width: 100px; 
  text-align: center;
  margin-left:150px; 
  /* background-color:crimson; */
  border: none;
  border-radius:3px;
  color:white;
  font-size:15px;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(220, 20, 60)); Standard syntax (must be last) */

  background-image:linear-gradient(0deg, rgb(167, 12, 34) 0px, rgb(237, 76, 91))
}

.columnfirst{
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
    box-sizing: border-box;
    width: 532px;
    height: 535px;
    margin:30px 30px;
    background-image:linear-gradient(0deg, rgb(140, 65, 211) 0px, rgb(116, 74, 145))

}
.columnsecond{
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
    box-sizing: border-box;
    width: 655px;
    height: 535px;
      margin:30px 30px;
      background-image:linear-gradient(0deg, rgb(140, 65, 211) 0px, rgb(116, 74, 145))
}


.attributes1{
  margin:50px;
  padding:15px;
  background-image:linear-gradient(0deg,  rgb(58, 211, 185) 0px,rgb(121, 163, 163) );
  width:275px;
  margin-left:156px;
  border-radius:5px;
}

.attributes2{
  margin:50px;
  padding:15px;
  background-image:linear-gradient(0deg,  rgb(211, 55, 55) 0px,rgb(228, 46, 13) );
  width:275px;
  margin-left:156px;
  border-radius:5px;
}
.attributes3{
  margin:50px;
  padding:15px;
  background-image:linear-gradient(0deg,  rgb(25, 58, 150) 0px,rgb(156, 142, 240) );
  width:275px;
  margin-left:156px;
  border-radius:5px;
}
.attributes4{
  margin:50px;
  padding:15px;
  background-image:linear-gradient(0deg,  rgb(209, 137, 89) 0px,rgba(218, 120, 8, 0.884) );
  width:275px;
  margin-left:156px;
  border-radius:5px;
}
.attributes5{
  margin:50px;
  padding:15px;
  background-image:linear-gradient(0deg,  rgb(69, 204, 28) 0px,rgb(127, 194, 121) );
  width:275px;
  margin-left:156px;
  border-radius:5px;
}

  .imageperson {
    left: 0px;
    top: 25px;
    position: relative;
    margin-left:25px;
    
}
#output{
  position: absolute;
  height: 389px;
  width: 328px;
  margin-top: 8px;
  margin-left:69px;
  background-color: aliceblue

  /* background-image: url("https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_640.png"); */

 }


 .imageUpload1{
  margin-top: 451px;
  margin-left: 241px;
  
  height: 41px;
  text-align: center;
  width: 255px;
  

 }
 .img-url-submit{
   
   background-image: linear-gradient(0deg, rgb(167, 12, 34) 0px, rgb(237, 76, 91));
   margin-left: 0px;
    height: 41px;
    width: 43px;
    border-radius: 3px;
    color:white;
}

 
 /* .imageUpload{

  position: absolute;
    cursor: pointer;
    height: 30px;
    width: 133px;
    border-radius: 5px;
    padding-left: 41px;
    padding-right: 20px;
    padding-top: 20px;
    /* background-color: crimson; */
    /* border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    top: 74%;
    margin-left: 28px;
    background-image: -webkit-linear-gradient(bottom, rgb(167, 12, 34) 0px, rgb(237, 76, 91));
    background-image: linear-gradient(0deg, rgb(167, 12, 34) 0px, rgb(237, 76, 91));
} */ 

.imageUpload {
  position: absolute;
  cursor: pointer;
  height: 23px;
  width: 133px;
  padding:10px;
  /* border-radius: 5px; */
  /* padding-left: 41px; */
  /* padding-right: 20px; */
  /* padding-top: 20px; */
  /* background-color: crimson; */
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  /* top: 74%; */
  margin-left: 28px;
  background-image: -webkit-linear-gradient(bottom, rgb(167, 12, 34) 0px, rgb(237, 76, 91));
  background-image: linear-gradient(0deg, rgb(167, 12, 34) 0px, rgb(237, 76, 91));
}

 
#imageUpload {
  display: none;
  cursor: pointer;
  height: 47px;
  /* width: 150px; */
  border-radius: 5px;
  
  /* background-color: crimson; */
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  top: 177%;
  margin-left: 111px;
  margin-top: 451px;
  background-image: -webkit-linear-gradient(bottom, rgb(129, 123, 123) 0px,rgb(48, 39, 40) );
  background-image: linear-gradient(0deg, rgb(129, 123, 123) 0px,rgb(48, 39, 40) );
}


.img-url-class{
  margin-left: 211px;
  height: 18px;
  padding: 10px;
  width: 222px;
text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 0%;
}

.facebuttonclass{
  /* position:absolute; */
  cursor: pointer;
  height: 40px;
  width: 150px;  
  /* background-color:crimson; */
  border: none;
  border-radius:3px;
  color:white;
  font-size:15px;
  top:76%;
  margin-left:-176px;
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(220, 20, 60)); Standard syntax (must be last) */

  /* background-image:linear-gradient(0deg,  rgb(129, 123, 123) 0px,rgb(48, 39, 40) ) */
  background-image:linear-gradient(0deg, rgb(167, 12, 34) 0px, rgb(237, 76, 91))

}
.wrap {
  text-align: center;
}
.form-control{
  margin-top:25px;
}
.login-form{
 display: block;
 margin-top: 17px;
 margin-bottom: 14px;
}
.input-form {
  padding: 10px;
  border-radius: 4px;
  width: 247px;
  box-shadow: none;
  font-size: 15px;
}

#Facedetect{
 
  display: inline-block;
}


.completeFace{
  /* background-image: -webkit-linear-gradient(bottom, rgb(129, 123, 123) 0px,rgb(48, 39, 40) );
  background-image: linear-gradient(0deg, rgb(128, 21, 21) 0px,rgb(131, 20, 33) );

  height: 100vh; */
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


